
#navDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.navApp {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    margin: 0;
    padding: 0 10px 0 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgba(197, 243, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


